<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/base}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Añadir ODS</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/principalCSS.css"/>
</head>
<body>
<div layout:fragment="container-fluid">
    <div th:replace="fragments/back"></div>

    <div class="div-miembrouji-add-general">
        <div class="form-container-add">
            <h2 style="text-align: center;margin: 30px;">Nueva ODS</h2>
            <form action="#" th:action="@{/ods/add}" th:object="${ods}" method="post">
                <div class="form-group-add">
                    <label for="descripcion">Número ODS</label>
                    <input type="text" class="form-control" id="numero_ods" name="numero" th:value="${ultimoNumero}" readonly />
                </div>

                <div class="form-group-add">
                    <label for="descripcion">Nombre de ODS</label>
                    <input type="text" class="form-control" id="nombre_ods" name="nombre" th:field="*{nombre}" maxlength="50" placeholder="Introduce el nombre"  />
                    <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class = error></div>
                </div>

                <div class="form-group-add">
                    <label for="descripcion">URL de la Imagen</label>
                    <input type="text" class="form-control" id="foto_ref" name="foto_ref" th:field="*{foto_ref}"  maxlength="500" placeholder="Introduce la URL" />
                    <div th:if="${#fields.hasErrors('foto_ref')}" th:errors="*{foto_ref}" class = error></div>

                </div>
                <div class="form-group-add">
                    <label for="descripcion">Descripción</label>
                    <textarea class="form-control" id="descripcion" rows="3" cols="15"  style="resize: none;" th:field="*{descripcion}" maxlength="200" placeholder="Introduce la descripción"></textarea>
                    <div th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}" class = error></div>
                </div>
                <div class="form-group-add">
                    <button type="submit" class="btn btn-primary">Añadir ODS</button>
                </div>
            </form>

        </div>


</div>
</div>
</body>
</html>