<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Gestión de Propuestas</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/principalCSS.css"/>
</head>
<body th:object="${session}">

<div layout:fragment="container-fluid">
    <H1>PROPUESTAS PENDIENTES</H1>
    <div style="background: #003B6B; margin-top: 20px; margin-bottom: 50px" class="div-home-separador"></div>

    <div class="tooltip" style="margin-left: 20px">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Infobox_info_icon.svg/1200px-Infobox_info_icon.svg.png" alt="Ayuda" width="90px" class="imageRight">
        <span class="tooltiptext"> Ayuda:
            <ul>
                <li>Puedes Aceptar o Rechazar una Iniciativa pulsado en el botón correspondiente </li>
            </ul>
        </span>
    </div>

        <form method="get" th:action="@{/iniciativa/listPropuestas}" class="filtro">
            <label>Por ODS</label>
            <select name="id_ods" required>
                <option th:value="${ods_filtro_value}" th:text="${ods_nombreFiltro}" hidden="hidden" selected></option>
                <option value="-1">Todos</option>
                <option th:each="opcion: ${odslist}" th:value="${opcion.id_ods}"
                        th:text="${opcion.id_ods} +'- '+ ${opcion.nombre}"></option>
            </select>

            <label>Por fecha de Inicio</label>
            <select id="orden" name="orden" required>
                <option th:value="${orden_filtro_value}" th:text="${orden_filtro}" hidden="hidden"></option>
                <option value="antiguo"> Más antiguos Primero</option>
                <option value="nuevo">Más nuevos Primero</option>
            </select>
            <button type="submit" class="botones-nav">FILTRAR</button>
        </form>
    <a th:if="${tamResult ==  0}">
        <div style="text-align: center; margin-top: 150px">
            <a>NO HAY RESULTADOS!!!</a>
        </div>
    </a>



    <td th:if="${tamResult !=  0}">
    <div class="div-iniciativa-list-contenedorPrincipal">
         <table class="table table-striped div-iniciativa-list-contenedorPrincipal">
             <thead>
             <tr style="text-align: left">
                 <th>Nombre</th>
                 <th>Fecha de Inicio</th>
                 <th>Fecha de Finalización</th>
             </tr>
             </thead>
             <tbody>
             <tr th:each="iniciativa: ${iniciativaList}">
                 <td class="nombresLista" th:text="${iniciativa.nombre}"></td>
                 <td th:text="${#temporals.format(iniciativa.fechaInicio, 'dd-MM-yyyy')}"></td>
                 <a th:if="${iniciativa.fechaFin == null}">
                     <td>Indeterminado</td>
                 </a>
                 <a th:if="${iniciativa.fechaFin != null}">
                     <td th:text="${#temporals.format(iniciativa.fechaFin, 'dd-MM-yyyy')}"></td>
                 </a>
                 <td><a th:href="@{/iniciativa/masInfo/{id_iniciativa}(id_iniciativa=${iniciativa.id_iniciativa})}"
                        class="btn btn-info" role="button">+Info</a></td>
                 <td>
                     <a th:href="@{/iniciativa/acepta/{id_iniciativa}(id_iniciativa=${iniciativa.id_iniciativa}, id_ods=${param.id_ods}, orden=${param.orden},usuario=${iniciativa.id_miembro})}"
                        class="btn btn-success" onclick="return confirm(' ACEPTAR la iniciativa y notificar Usuario via Email')" role="button">
                         ACEPTAR
                     </a>
                 </td>
                 <td>
                     <a th:href="@{/iniciativa/rechaza/{id_iniciativa}(id_iniciativa=${iniciativa.id_iniciativa}, id_ods=${param.id_ods}, orden=${param.orden},usuario=${iniciativa.id_miembro})}"
                        class="btn btn-danger" onclick="return confirm('RECHAZAR la iniciativa y notificar Usuario via Email')" role="button">
                         RECHAZAR
                     </a>
                 </td>

             </tr>
             </tbody>
         </table>
    </div>
    </td>
     </div>
 </body>
 </html>